.commits__swiper {
  height: calc(288px + 48px + 8px);
}

@media screen and (max-width: 949px) {
  .commits__swiper{
    height: calc(242px + 32px + 8px);
  }
}

@media screen and (max-width: 670px) {
  .commits__swiper{
    height: calc(264px + 16px + 8px);
  }
}
