@import url(./_bg/_image/header__title_bg_image.css);
@import url(./_bg/_white/header__title_bg_white.css);


.header__title {
  font-family: Roboto Slab, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

@media screen and (max-width: 425px) {
  .header__title {
    font-size: 16px;
  }
}
