@import url(./__site-path/analytics__site-path.css);
@import url(./__title/analytics__title.css);
@import url(./__subtitle/analytics__subtitle.css);
@import url(./__subtitle-result/analytics__subtitle-result.css);
@import url(./__title-result/analytics__title-result.css);
@import url(./__subtitle-news-result/analytics__subtitle-news-result.css);
@import url(./__content/analytics__content.css);

.analytics {
  font-family: Roboto, Georgia, serif;
  color: #1a1b22;
  display: flex;
  flex-direction: column;
  margin: 40px 0 80px 104px;
}

@media screen and (max-width: 800px) {
  .analytics {
    margin: 32px 40px 40px;
  }
}

@media screen and (max-width: 425px) {
  .analytics {
    margin: 16px 16px 24px;
  }
}
