.result__image {
  height: 272px;
}

@media screen and (max-width: 1015px) {
  .result__image {
    height: 150px;
  }
}

@media screen and (max-width: 530px) {
  .result__image {
    height: 196px;
  }
}
