.chart__line-value {
  height: 24px;
  padding-left: 6px;
  margin: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #fff;
  background-color: #2f71e5;
}

.chart__table-line:nth-of-type(2) .chart__line-value {
  width: calc(0.15 * (100% - 104px) - 6px);
}

.chart__table-line:nth-of-type(3) .chart__line-value {
  width: calc(0.18 * (100% - 104px) - 6px);
}

.chart__table-line:nth-of-type(4) .chart__line-value {
  width: calc(0.11 * (100% - 104px) - 6px);
}

.chart__table-line:nth-of-type(5) .chart__line-value {
  width: calc(0.39 * (100% - 104px) - 6px);
}

.chart__table-line:nth-of-type(6) .chart__line-value {
  width: calc(0.45 * (100% - 104px) - 6px);
}

.chart__table-line:nth-of-type(7) .chart__line-value {
  width: calc(0.73 * (100% - 104px) - 6px);
}

.chart__table-line:nth-of-type(8) .chart__line-value {
  width: calc(0.34 * (100% - 104px) - 6px);
}

@media screen and (max-width: 425px) {
  .chart__table-line:nth-of-type(2) .chart__line-value {
    width: calc(0.15 * (127% - 80px) - 6px);
  }

  .chart__table-line:nth-of-type(3) .chart__line-value {
    width: calc(0.18 * (127% - 80px) - 6px);
  }

  .chart__table-line:nth-of-type(4) .chart__line-value {
    width: calc(0.11 * (127% - 80px) - 6px);
  }

  .chart__table-line:nth-of-type(5) .chart__line-value {
    width: calc(0.39 * (127% - 80px) - 6px);
  }

  .chart__table-line:nth-of-type(6) .chart__line-value {
    width: calc(0.45 * (127% - 80px) - 6px);
  }

  .chart__table-line:nth-of-type(7) .chart__line-value {
    width: calc(0.73 * (127% - 80px) - 6px);
  }

  .chart__table-line:nth-of-type(8) .chart__line-value {
    width: calc(0.34 * (127% - 80px) - 6px);
  }
}
