@import url(./__caption-date/chart__caption-date.css);
@import url(./__caption-num/chart__caption-num.css);
@import url(./__captions/chart__captions.css);
@import url(./__diagrams/chart__diagrams.css);
@import url(./__line-date/chart__line-date.css);
@import url(./__line-value/chart__line-value.css);
@import url(./__part/chart__part.css);
@import url(./__parts/chart__parts.css);
@import url(./__table-line/chart__table-line.css);
@import url(./__table/chart__table.css);
@import url(./__title/chart__title.css);

.chart {
  font-family: Roboto, Georgia, serif;
  color: #1a1b22;
  display: flex;
  flex-direction: column;
  background-color: #f5f6f7;
  padding: 80px 104px;
}

@media screen and (max-width: 800px) {
  .chart {
    padding: 40px;
  }
}

@media screen and (max-width: 425px) {
  .chart {
    padding: 24px 16px 32px;
  }
}
