@import url(./__date/result__date.css);
@import url(./__image/result__image.css);
@import url(./__source/result__source.css);
@import url(./__text/result__text.css);
@import url(./__title/result__title.css);
@import url(./__content/result__content.css);

.result {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: 576px;
  border-radius: 16px;
  background-color: #fff;
  color: #1a1b22;
  overflow: hidden;
  margin-bottom: 16px;
  box-shadow: 0px 2px 15px rgba(14, 26, 57, 0.1);
  text-decoration: none;
}

.result:hover {
  cursor: pointer;
}

@media screen and (max-width: 1015px) {
  .result {
    max-width: 224px;
    height: 420px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 530px) {
  .result {
    margin: 0 auto 8px;
    max-width: 288px;
    height: 446px;
  }
}
