.result__text {
  font-size: 16px;
  line-height: 22px;
  margin: 0 auto;
  overflow: hidden;
  max-height: 110px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical
}

@media screen and (max-width: 1015px) {
  .result__text {
    max-height: 88px;
  }
}
