.commits__user-photo {
  max-width: 64px;
  max-height: 64px;
  margin-right: 16px;
}

@media screen and (max-width: 950px) {
  .commits__user-photo {
    max-width: 48px;
    max-height: 48px;
    margin: 3px 12px 0 0;
  }
}
