.commits__title {
  font-family: Roboto Slab, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  margin: 0 0 64px 104px;
}

@media screen and (max-width: 1000px) {
  .commits__title {
    font-size: 30px;
    line-height: 34px;
    max-width: 336px;
  }
}


@media screen and (max-width: 768px) {
  .commits__title {
    margin: 0 0 32px 40px;
  }
}

@media screen and (max-width: 580px) {
  .commits__title {
    margin: 0 auto 16px 40px;
    max-width: 200px;
  }
}

@media screen and (max-width: 530px) {
  .commits__title {
    margin: 0 auto 16px 16px;
    max-width: 200px;
  }
}
