.techs__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__card:not(:last-child) {
  margin-right: 40px;
}

@media screen and (max-width: 768px) {
  .techs__card:not(:last-child) {
    margin-right: 0;
  }
}

@media screen and (max-width: 680px) {
  .techs__card {
    flex-basis: 35%;
  }
  .techs__card:not(:nth-last-child(-n+2)) {
    margin-bottom: 32px;
  }
}
