.commits__slide {
  display: flex;
  flex-direction: column;
  max-width: 352px;
  max-height: 240px;
  background-color: #fff;
  border-radius: 16px;
  padding: 24px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(14,26,57,.05);
}

@media screen and (max-width: 950px) {
  .commits__slide {
    padding-right: 16px;
    max-width: 296px;
    max-height: 194px;
  }
}

@media screen and (max-width: 670px) {
  .commits__slide {
    padding: 16px 26px 16px 16px;
    max-width: 246px;
    max-height: 232px;
  }
}
