.result__content {
  display: flex;
  flex-direction: column;
  margin: 20px 24px 24px;
  height: calc(100% - (272px + 44px));
}

@media screen and (max-width: 1015px) {
  .result__content {
    height: calc(100% - (150px + 32px));
    margin: 15px 16px 20px;
  }
}

@media screen and (max-width: 530px) {
  .result__content {
    height: calc(100% - (196px + 35px));
    margin: 15px 16px 20px;
  }
}
