@import url(./__title/for-users__title.css);
@import url(./__description/for-users__description.css);
@import url(./__paragraph/for-users__paragraph.css);

.for-users {
  font-family: Roboto, Georgia, serif;
  color: #1a1b22;
  display: flex;
  flex-direction: column;
  padding: 80px 104px 94px;
}

@media screen and (max-width: 768px) {
  .for-users {
    padding: 30px 40px 50px;
  }
}

@media screen and (max-width: 425px) {
  .for-users {
    padding: 16px;
  }
}
