.chart__line-date {
  margin: 0;
  font-size: 18px;
  line-height: 80px;
  min-width: 104px;
}

@media screen and (max-width: 425px) {
  .chart__line-date {
    min-width: 80px;
    line-height: 48px;
  }
}
