.chart__diagrams {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #1a1b22;
  margin: 12px 0 0 0;
}

@media screen and (max-width: 425px) {
  .chart__diagrams {
    margin-top: 8px;
  }
}
