.commits__user {
  font-family: Roboto Slab, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  margin: 4px 0 2px 0;
}

@media screen and (max-width: 950px) {
  .commits__user {
    font-size: 20px;
    margin: 0;
  }
}
