.search__bar {
  height: calc(100% - 2px);
  width: calc(100% - 32px);
  font-size: 16px;
  line-height: 22px;
  outline: none;
  border: none;
  border-radius: 100px;
  border: 1px solid #D1D2D6;
  background-color: #fff;
  padding: 0 50% 0 24px;
}

.search__bar::placeholder {
  color: #B6BCBF;
}

.search__bar:focus {
  border: 1px solid #2f71e5;
}

@media screen and (max-width: 660px) {
  .search__bar {
    padding: 0 calc(45% + 16px) 0 16px;
  }
}

@media screen and (max-width: 375px) {
  .search__bar {
    padding: 0 16px;
    max-height: 56px;
  }
}
