.commits__swiper-shadow {
  width: 88px;
  height: 100%;
  position: absolute;
  z-index: 9;
  background: linear-gradient(to left, rgba(255,0,0,0), #f5f6f7);
}

.commits__swiper-shadow:nth-child(2) {
  width: 88px;
  height: 100%;
  right: 0;
  position: absolute;
  z-index: 9;
  background: linear-gradient(to right, rgba(255,0,0,0), #f5f6f7);
}

@media screen and (max-width: 670px) {
  .commits__swiper-shadow {
    width: 44px;
  }

  .commits__swiper-shadow:nth-child(2) {
    width: 44px;
  }
}

@media screen and (max-width: 530px) {
  .commits__swiper-shadow {
    width: 22px;
  }

  .commits__swiper-shadow:nth-child(2) {
    width: 22px;
  }
}
