.techs__cards {
  display: flex;
  margin-top: 13px;
}

@media screen and (max-width: 1250px) {
  .techs__cards {
    margin-top: 40px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 680px) {
  .techs__cards {
    flex-wrap: wrap;
    margin: 40px 8px 0;
  }
}
