@import url(./_current/analytics__site-path_current.css);

.analytics__site-path {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

@media screen and (max-width: 425px) {
  .analytics__site-path {
    display: none;
  }
}
