.results__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

@media screen and (max-width: 1015px) {
  .results__content {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 600px) {
  .results__content {
    flex-direction: column;
    align-items: flex-start;
  }
}
