.author__image {
  max-width: 464px;
  max-height: 464px;
  margin-right: 56px;
}

@media screen and (max-width: 900px) {
  .author__image {
    margin: 21px 32px 13px 0;
  }
}

@media screen and (max-width: 800px) {
  .author__image {
    max-width: 232px;
    max-height: 232px;
  }
}

@media screen and (max-width: 530px) {
  .author__image {
    width: 100%;
    height: 100%;
    margin: 0 0 24px;
    max-width: 272px;
    max-height: 272px;
  }
}
