@import url(./_active/header__link_bg_white_active.css);

.header__link_bg_white:hover {
  color: #1a1b22;
  transition: color 0.2s linear 0s;
}

.header__link_bg_white:not(:hover) {
  color: #b6bcbf;
  transition: color 0.2s linear 0s;
}
