.author__title {
  font-family: Roboto Slab, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  margin: 51px 0 24px 0;
}

@media screen and (max-width: 930px) {
  .author__title {
    margin: 0 0 16px;
    font-size: 30px;
    line-height: 40px;
  }
}
