@import url(./__title/commits__title.css);
@import url(./__link/commits__link.css);
@import url(./__swiper/commits__swiper.css);
@import url(./__card/commits__card.css);
@import url(./__date/commits__date.css);
@import url(./__info/commits__info.css);
@import url(./__user-photo/commits__user-photo.css);
@import url(./__user/commits__user.css);
@import url(./__user-email/commits__user-email.css);
@import url(./__comment/commits__comment.css);
@import url(./__swiper-shadow/commits__swiper-shadow.css);

.commits {
  font-family: Roboto, Georgia, serif;
  color: #1a1b22;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 72px 0 80px;
  background-color: #f5f6f7;
}

@media screen and (max-width: 768px) {
  .commits {
    padding: 40px 0;
  }
}

@media screen and (max-width: 580px) {
  .commits {
    justify-content: center;
    padding: 30px 0;
  }
}
